<div class= "container-fluid">
<h1>Bootcamp Enrollment</h1>
<div alert alert-danger *ngIf = "errorMsg" >
  {{errorMsg}
</div>
<form #userForm = "ngForm" novalidate (ngSubmit) = "onSubmit()">
  
<div class = "form-group">
  <label>Name</label>
  <input type = "text" required class = "form-control" #name name = "userName" [(ngModel)] ="userModel.userName">
</div>

<div class = "form-group">
  <label>Email</label>
  <input type = "text"  required  [class.is-invalid] = "email.invalid && email.touched" class = "form-control" #email = "ngModel" name = "email" [(ngModel)] = "userModel.email">
  <small class= "text-danger" [class.d-none] = "email.valid && email.untouched" >email is required</small>
</div>

<div class = "form-group">
  <label>Contact</label>
  <input type = "tel" required #phone = "ngModel" pattern = "^\d{10}$" [class.is-invalid] = "phone.invalid && phone.touched" class = "form-control" name ="phone"  [ngModel] = "userModel.phone">
  <div *ngIf = "phone.errors && (phone.invalid || phone.touched)">
  <small class = "text-danger" *ngIf = "phone.errors.pattern">The phone number should be of 10 digits</small>
  <small class = "text-danger" *ngIf = "phone.errors.required">The phone number is required</small>
  </div>
</div>

<div class = "form-group">
  <select (blur) = "validateTopic(choice.value)" (change) = "validateTopic(choice.value)" class="custom-select" name ="choice" #choice= "ngModel" [ngModel] = "userModel.choice" [class.is-invalid]="topichasError && choice.touched">
    <option value = "default" selected>I am interested in</option>
    <option *ngFor = "let topic of topics">{{topic}}</option>
    
  </select>
     
      <small class = "text-danger" [class.d-none] = "(!topichasError || choice.untouched) ">please choose a topic</small>
</div>

<div class = "mb-3">
  <label>Time Preference</label>
  <div class = "form-check">
    <input class= "form-check-input" type = "radio" name = "timePreference" value = "morning">
    <label class= "form-check-label">Morning (9am-2pm)</label>
  </div>

  <div class = "form-check">
    <input class= "form-check-input" type = "radio" name = "timePreference" value = "evening">
    <label class= "form-check-label">Evening (4pm-8pm)</label>
  </div>
</div>

<div class= "mb-3">
  <input class="form-check-input" type= "checkbox">
  <label >Send me promotional offers</label>
</div>

<button class="btn btn-primary" [disabled] = "userForm.form.invalid || topichasError" type = "submit">Submit</button>

</form>


</div>